@media (width > 650px) {
    .button[disabled='disabled']:hover {
        background-color: rgb(50, 0, 0);
    }
    
    .button:hover {
        background-color: rgba(200, 200, 200, 0.3);
    }

    .raid-helper-href:hover {
        color: rgb(200, 0, 230);
    }
}

@media (width <=1400px) {
    html {
        font-size: 16px;
    }

    .meme-gif {

        width: 40%;
    }
}

@media (width <=1000px) {
    html {
        font-size: 14px;
    }

    .meme-gif {

        width: 50%;
    }
}

@media (width <=800px) {
    .button {
        width: 12em;
        padding: 1.5em;
        margin: 1.5em;
    }

    .left,
    .right {
        display: none;
    }

    .center {
        width: 90%;
        margin: 0 auto;
    }

    .meme-gif {

        width: 60%;
    }
}

@media (width <=650px) {
    html {
        font-size: 12px;
    }
}

@media (width <=450px) {
    html {
        font-size: 10px;
    }
}
